/* ========================================================= */
/*                      SECTION HERO                         */
/* ========================================================= */

.hero {
    padding: 80px 0;
    padding-top: 120px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* ========= TEXTE ========= */

.hero-text {
    flex: 1;
    max-width: 520px;
}

.hero-text h1 {
    font-family: 'Cormorant Garamond', serif;  /* Titre principal */
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--bleu-nuit);
}

.hero-text p {
    font-size: 18px;
    color: var(--gris-anthracite);
    margin-bottom: 30px;
}


/* ========= IMAGE ========= */

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 480px;
    border-radius: 12px;
    box-shadow: var(--shadow-light);
    display: block;
}

/* ========= Trait  ========= */

.section-divider {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.10); /* 10% opacity */
    margin: 60px 0; /* espace autour comme sur ta maquette */
}



/* ========================================================= */
/*                      SECTION SERVICES                     */
/* ========================================================= */

.services {
    padding: 120px 0;
}

.section-title {
    font-family: var(--font-secondary);
    font-size: 40px;
    font-weight: 700;
    color: var(--bleu-nuit);
    text-align: center;
    margin-bottom: 80px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* ---------- CARDS ---------- */

.service-card {
    background: var(--bleu-nuit);
    border-radius: 14px;
    padding: 32px 24px;
    text-align: center;
    box-shadow: 0 10px 24px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.08);
}

.service-card img {
    width: 56px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--gris-clair);
}

.service-card p {
    font-size: 15px;
    color: var(--gris-clair);
    margin-bottom: 20px;
}

/* ---------- Bouton Services ---------- */
.services-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* ========================================================= */
/*                      ABOUT SECTION                      */
/* ========================================================= */

.about {
    padding: 80px 0;
    padding-top: 120px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 480px;
    border-radius: 12px;
    box-shadow: var(--shadow-light);
    display: block;
}

/* Texte */ 

.about-content {
    flex: 1;
    max-width: 520px;
}

.about-content h2 {
    font-family: var(--font-secondary);
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--bleu-nuit);
}

.about-content h3 {
    font-family: var(--font-primary);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--bleu-nuit);
    margin-bottom: 35px;
}

.about-content p {
    font-family: var(--font-primary);
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: var(--gris-anthracite);
    margin-bottom: 35px;
}

.about-btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* ========================================================= */
/*                      PORTFOLIO SECTION                      */
/* ========================================================= */

.portfolio {
    padding: 100px 0;
    text-align: center;
}

.portfolio .section-title {
    margin-bottom: 10px;
}

.portfolio .section-subtitle {
    color: var(--bleu-nuit);
    font-size: 18px;
    margin-bottom: 50px;
    font-family: var(--font-primary);
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.portfolio-card {
    background-color: var(--bleu-nuit);
    width: 360px;
    height: 453px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--shadow-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-card h3 {
    font-family: var(--font-secondary);
    font-size: 20px;
    margin-bottom: 4px;
    color: var(--blanc);
}

.project-type {
    font-family: var(--font-primary);
    font-size: 14px;
    opacity: 0.8;
    color: var(--gris-clair);
    padding-bottom: 24px;
}

.project-frame {
    width: 100%;
    height: 260px;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    background: var(--blanc);
}

.project-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 12px;
    display: block;
}

.portfolio-btn-container {
    margin-top: 50px;
    text-align: center;
}

.portfolio-btn-container .btn-primary {
    padding: 12px 32px;
}


/* =========================== TESTIMONIALS =========================== */

.testimonials {
    padding: 100px 0;
    text-align: center;
}

.testimonials .section-title {
    margin-bottom: 10px;
}

.testimonials .section-subtitle {
    font-size: 18px;
    color: var(--text-muted);
    margin-bottom: 50px;
}

/* CARD */
.testimonial-card {
    background: var(--bleu-nuit);
    color: var(--blanc);
    padding: 40px 60px;
    border-radius: 20px;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* Avatar */
.testimonial-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto 15px;
    background: url('../assets/images/avatar-placeholder.jpg') center/cover;
}

/* Contenu */
.testimonial-content {
    flex: 1;
    text-align: center;
}

.testimonial-name {
    font-family: var(--font-primary);
    color: var(--blanc);
    font-size: 20px;
    margin-bottom: 3px;
}

.testimonial-type {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
    color: var(--gris-anthracite);
}

.testimonial-text {
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.9;
    max-width: 600px;
    margin: 0 auto;
}

/* Arrows */
.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.arrow img {
    width: 24px;
    opacity: 0.7;
    transition: 0.2s;
}

.arrow:hover img {
    opacity: 1;
}


/* =========================== CTA =========================== */

.cta {
    background: var(--bleu-nuit); /* ton bleu nuit */
    padding: 80px 0;
    text-align: center;
}

.cta h2 {
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 600;
    color: var(--blanc);
    margin-bottom: 15px;
}

.cta p {
    font-size: 20px;
    color: var(--blanc);
    margin-bottom: 35px;
    font-family: var(--font-primary);
}
