/* MOBILE */
@media (max-width: 768px) {

    .details-header h1 {
        font-size: 1.9rem;
    }

    .details-image img {
        max-height: 350px;
    }

    .project-details {
        margin-top: 100px;
    }
}
