/* ----------------------------- */ 
/* STYLE GENERALE DU SITE OL CREATIVE STUDIO */ 
/* ----------------------------- */ 

/*        IMPORT POLICES         */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Cormorant+Garamond:wght@400;500;600;700&display=swap');


:root {
    /* ---- Colors ---- */
    --bleu-nuit: #0D1B2A;
    --bleu-azur: #1B9AAA;
    --gris-clair: #E0E1DD;
    --gris-anthracite: #393E46;
    --blanc: #FFFFFF;
    --hover-primary: #138A95;
    --hover-secondary: #F4FBFB;
    --success: #3CB371;
    --error: #E63946;

    /* ---- Typography ---- */
    --font-primary: 'Manrope', sans-serif;          /* Textes */
    --font-secondary: 'Cormorant Garamond', serif;  /* Titres */

    /* ---- Spacing ---- */
    --section-padding: 80px;
    --border-radius: 12px;

    /* ---- Shadows ---- */
    --shadow-light: 0 8px 24px rgba(0,0,0,0.08);
    --shadow-btn: 0 4px 12px rgba(0,0,0,0.0.6);
}


/* ============================= */
/*          GLOBAL RESET         */
/* ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background: var(--blanc);
    color: var(--bleu-nuit);
    line-height: 1.6;
}

/*          TITRES GLOBAUX       */
h1, h2, h3, h4 {
    font-family: var(--font-secondary);
    font-weight: 600;
    color: var(--bleu-nuit);
}

/*         CLASSE UTILITAIRE CONTAINER       */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*         STYLE BOUTONS       */
.btn-primary {
    display: inline-block;
    background: var(--bleu-azur);
    color: var(--blanc);
    padding: 12px 26px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
    box-shadow: var(--shadow-btn);
}

.btn-primary:hover {
    background: var(--hover-primary);
}

.btn-secondary {
    display: inline-block;
    border: 2px solid var(--bleu-azur);
    color: var(--bleu-azur);
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
}

.btn-secondary:hover {
    background: var(--bleu-azur);
    color: var(--blanc);
}


/* NAVBAR */ 

.navbar{
    background: var(--blanc);
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin: 15px auto;
}

.logo img {
    height: 65px;
    width: auto;
}

/* MENU */ 
.nav-links {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-links a {
    text-decoration: none;
    color: var(--bleu-nuit);
    font-weight: 500;
}

.sep {
    width: 2px;
    height: 20px;
    background: var(--bleu-azur);
    opacity: 0.5;
    border-radius: 2px;
}

/* FOOTER */

.footer {
    background: var(--blanc);
}

.footer-container {
    margin: 0 auto;
}

.footer-contact {
    display: inline-block;
    text-align: left;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--bleu-nuit);
    border-top: 1px solid var(--bleu-nuit);
}

.footer-col {
    text-align: center;
    border-right: 1px solid var(--bleu-nuit);
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-col:last-child {
    border-right: none;
}

.footer-col h4 {
    font-size: 20px;
    font-family: var(--font-primary);
}

.footer-logo {
    height: 150px;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: var(--bleu-nuit);
    margin: 16px 0;
}

.footer-col a:hover {
    color: var(--bleu-azur);
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 24px 0;
}

.footer-item img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.85;
}

.footer-mail {
    font-weight: 600;

}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    color: var(--bleu-nuit);
}

.footer-bottom a {
    text-decoration: none;
    color: var(--bleu-azur);
}