/* ----------------------------- */ 
/* STYLE GENERALE DU SITE OL CREATIVE STUDIO */ 
/* ----------------------------- */ 

:root {
    /* ---- Colors ---- */
    --bleu-nuit: #0D1B2A;
    --bleu-azur: #147a84;
    --gris-clair: #E0E1DD;
    --gris-anthracite: #393E46;
    --blanc: #FFFFFF;
    --hover-primary: #138A95;
    --hover-secondary: #F4FBFB;
    --success: #3CB371;
    --error: #E63946;

    /* ---- Typography ---- */
    --font-primary: 'Manrope', sans-serif;          /* Textes */
    --font-secondary: 'Cormorant Garamond', serif;  /* Titres */

    /* ---- Spacing ---- */
    --section-padding: 80px;
    --border-radius: 12px;

    /* ---- Shadows ---- */
    --shadow-light: 0 8px 24px rgba(0,0,0,0.08);
    --shadow-btn: 0 4px 12px rgba(0,0,0,0.0.6);
}

/* ------------------------------------
   MANROPE — Police principale
------------------------------------- */

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------
   CORMORANT GARAMOND — Police secondaire
------------------------------------- */

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/assets/fonts/CormorantGaramond-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/assets/fonts/CormorantGaramond-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* ============================= */
/*          GLOBAL RESET         */
/* ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background: var(--blanc);
    color: var(--bleu-nuit);
    line-height: 1.6;
}

main {
    position: relative;
    z-index: 0;      /* neutralise le stacking context implicite */
    isolation: auto; /* supprime l’isolation automatique */
}

/*          TITRES GLOBAUX       */
h1, h2, h3, h4 {
    font-family: var(--font-secondary);
    font-weight: 600;
    color: var(--bleu-nuit);
}

/*         CLASSE UTILITAIRE CONTAINER       */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*         STYLE BOUTONS       */
.btn-primary {
    display: inline-block;
    background: var(--bleu-azur);
    color: var(--blanc);
    padding: 12px 26px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
    box-shadow: var(--shadow-btn);
}

.btn-primary:hover {
    background: var(--hover-primary);
}

.btn-secondary {
    display: inline-block;
    border: 2px solid var(--bleu-nuit);
    color: var(--bleu-nuit);
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
}

.btn-secondary:hover {
    background: var(--bleu-nuit);
    color: var(--blanc);
}


/* NAVBAR */ 

.navbar{
    background: var(--blanc);
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin: 10px auto;
}

.logo img {
    height: 65px;
    width: auto;
}

/* MENU */ 

/* Cacher le menu mobile sur desktop */
@media (min-width: 769px) {
    .mobile-menu {
        display: none !important;
    }
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-links a {
    text-decoration: none;
    color: var(--bleu-nuit);
    font-weight: 500;
}

.sep {
    width: 2px;
    height: 20px;
    background: var(--bleu-azur);
    opacity: 0.5;
    border-radius: 2px;
}

/* FOOTER */

.footer {
    background: var(--blanc);
}

.footer-container {
    margin: 0 auto;
}

.footer-contact {
    display: inline-block;
    text-align: left;
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--bleu-nuit);
    border-top: 1px solid var(--bleu-nuit);
}

.footer-col {
    text-align: center;
    border-right: 1px solid var(--bleu-nuit);
    padding-top: 24px;
}

.footer-col:last-child {
    border-right: none;
}

.footer-col h4 {
    font-size: 20px;
    font-family: var(--font-primary);
}

.footer-logo {
    width: auto;
    height: 65px;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: var(--bleu-nuit);
    margin: 16px 0;
}

.footer-col nav {
    padding-top: 30px;
}

.footer-col a:hover {
    color: var(--bleu-azur);
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 24px 0;
}

.footer-item img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.85;
}

.footer-mail {
    font-weight: 600;

}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    color: var(--bleu-nuit);
}

.footer-bottom a {
    text-decoration: none;
    color: var(--bleu-azur);
}

/* ----- FOOTER SOCIAL ICONS ----- */

.footer-socials {
    display: flex;
    gap: 14px;
    margin-top: 15px;
    justify-content: center;
}

.footer-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    transition: all 0.25s ease;
}

.footer-socials a img {
    width: 20px;
    height: 20px;
    opacity: 0.85;
    transition: 0.25s ease;
}

/* ----- BANNIERE COOKIES ----- */
.cookie-banner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 20px;
    padding: 15px 20px;
    background-color: #0f1a28;
    color: var(--blanc);
    border-radius: 12px;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    z-index: 9999;
}

.cookie-banner button {
    background-color: var(--bleu-azur);
    border: none;
    padding: 8px 14px;
    color: var(--blanc);
    border-radius: 8px;
    cursor: pointer;
}


.cookie-buttons button {
    margin-right: 10px;
}

.cookie-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.cookie-modal-content {
    background: var(--blanc);
    padding: 20px;
    border-radius: 8px;
    width: 350px;
}

/* =========================================== */
/*         GLOBAL RESPONSIVE ADJUSTMENTS (<768px)    */
/* =========================================== */

@media (max-width: 768px) {

    /* ==================================== */
    /*                GLOBAL                */
    /* ==================================== */   

    .container {
        width: 92%;
        padding: 0 10px;
    }

    h1, h2, h3 {
        line-height: 1.3;
    }

    /* ==================================== */
    /*                NAVBAR                */
    /* ==================================== */ 

    .navbar {
        padding: 14px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--blanc);
        border-bottom: 1px solid rgba(0,0,0,0.08);
        position: relative;
        z-index: 300;
    }

    .logo img {
        height: 42px; 
        width: auto;
    }

    /* Masquer le menu desktop */
    .nav-links,
    .btn-nav {
        display: none;
    }

    /* Bouton burger */
    .burger {
        display: block;
        width: 28px;
        height: 22px;
        position: relative;
        cursor: pointer;
        z-index: 400;
    }

    .burger span {
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--bleu-nuit);
        left: 0;
        border-radius: 3px;
        transition: 0.3s;
    }

    .burger span:nth-child(1) { top: 0; }
    .burger span:nth-child(2) { top: 9px; }
    .burger span:nth-child(3) { top: 18px; }

    /* Animation burger open */ 
    .burger.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .burger.open span:nth-child(2) {
        opacity: 0;
    }

    .burger.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

/* ------------------------------- */
/*             MENU MOBILE         */
/* ------------------------------- */

    .mobile-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--blanc);
        padding: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.06);

        /* HIDDEN STATE */
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.25s ease;
        z-index: 500;
        }

/* STATE: OPEN */
   .mobile-menu.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 500;
    }

    .mobile-menu a {
        display: block;
        padding: 16px 0;
        color: var(--bleu-nuit);
        text-decoration: none;
        font-weight: 600;
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }

        .mobile-menu a:last-child {
            border-bottom: none;
    }

    /* ==================================== */
    /*                FOOTER                */
    /* ==================================== */

    .footer-cols {
        grid-template-columns: 1fr;
        text-align: center;
        border-top: none;
        border-bottom: none;
    }

    .footer-col {
        padding: 30px 0;
        border-right: none;
        border-bottom: 1px solid var(--bleu-nuit);
    }

    .footer-col:last-child {
        border-bottom: none;
    }

    .footer-col h4 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .footer-item {
        justify-content: left;
        gap: 12px;
    }

    .footer-bottom {
        margin-top: 25px;
        text-align: center;
        font-size: 14px;
        border-top: 1px solid var(--gris-clair) ;
    }

    .footer-logo {
        height: 110px;
    }

    .footer-mail {
        font-size: 14px;
    }

    /* ========================================================= */
    /*                BOUTONS & ELEMENTS GLOBALS                 */
    /* ========================================================= */

    .btn-primary,
    .btn-secondary {
        width: 75%;
        text-align: center;
        padding: 12px 0;
        border-radius: 10px;
    }
}